<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rolling Music - <b>{{currentPlaylist?.name}}</b></ion-title>
    <ion-buttons end>
    <button ion-button icon-only item-end (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="common-bg" style="overflow-y;">
  
  <div id="player" margin-top class="embed-responsive embed-responsive-16by9" style="height:50%;">
      
    <div id="placeholder" style="top:0px;left:0px;width: 100%; height:90%; overflow-y:auto" class="embed-responsive-item">
        <h4>{{video?.videoDescription}} [{{currentPlaylist?.name}}]</h4>
        <iframe scrolling="no" id="iframe1" (load)="dismissLoading()" src="http://m.radiorolling.com/" style="position: relative;left: 0px;height:80%; width: 100%; top: 0px;" frameborder="0"
        width="100%" height="100%"></iframe>
    </div>
  </div>
  <div>
    
      <ion-list >
              <button *ngFor="let playlist of musicPlaylists" ion-item large (click)="changePlaylist([playlist?.id])" item-end>
                  <h2>{{playlist?.name}}</h2>  
                  <ion-thumbnail item-start>
                    <img src="http://radiorolling.com{{playlist?.image}}">
                  </ion-thumbnail>
                </button>
              <!--<button ion-item large (click)="gotosong(121)" item-end>
                  <h2>Blues</h2>  
                  <ion-thumbnail item-start>
                    <img src="http://radiorolling.com/res/images/201801031552/NinaSimone.png">
                  </ion-thumbnail>
              </button>
              <button ion-item large (click)="gotosong(308)" item-end>
                  <h2>Funky & Disco</h2>  
                  <ion-thumbnail item-start>
                    <img src="http://radiorolling.com/res/images/2018191622/dfa.jpg">
                  </ion-thumbnail>
              </button>
              <button ion-item large (click)="gotosong(1216)" item-end>
                  <h2>Kotrljanje</h2>  
                  <ion-thumbnail item-start>
                    <img src="http://radiorolling.com/res/images/2018323936/dd.png">
                  </ion-thumbnail>
              </button>-->
      </ion-list>

  </div>
</ion-content>
      <!--<ion-list >
        
          <ion-item *ngFor="let playlist of musicPlaylists" (click)="gotosong([playlist?.id])">
              
              <ion-thumbnail 
              item-start>
              
              <img 
              src="http://radiorolling.com{{playlist?.image}}">
              
              </ion-thumbnail>
              
              <h2>{{playlist?.name}}</h2>
              
          </ion-item>
      </ion-list>-->
      
      

