<ion-header>
        <ion-navbar style="white-space: normal;" color="primary">
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title *ngIf="currentPlaylist == null" style="white-space: normal!important;">Rolling Facts</ion-title>
          <ion-title *ngIf="currentPlaylist != null" style="white-space: normal!important;">Rolling Facts - <b>{{currentPlaylist?.name}}</b></ion-title>
          <ion-buttons end>
          <button ion-button icon-only item-end (click)="presentPopover($event)">
              <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>
        </ion-navbar>
      </ion-header>
      <ion-content id="cont" padding class="common-bg" style="overflow-y;" hide-fab>
            <div *ngIf="helpDiv != null">
                    <div style="width:100%;text-align:center;" id="shareimg" ion-item large>
                                    <h1 style="padding:2px;white-space: normal!important;"><i>RadioRolling.com</i><br><b>{{currentPlaylist?.name}}</b></h1>
                                <hr>
                                <img style = "margin:0 auto;" src="{{sharingSource}}"/>
                                <h2 style="padding:2px;white-space: normal!important;">{{helpDiv}}</h2>
                                
                    </div>
            </div>
            <div *ngIf="shareQuote != null">
                    <div style="width:100%;text-align:center;" id="shareimg2" ion-item large>
                                    <h1 style="padding:2px;white-space: normal!important;"><i>RadioRolling.com</i><br><b>Citati</b></h1>
                                <hr>
                                <h2 style="padding:2px;white-space: normal!important;"><b>{{shareQuoteAuthor}}</b></h2>
                                <h1 style="padding:4px;white-space: normal!important;"><b>{{shareQuote}}</b></h1>
                                <ion-thumbnail item-center center middle>
                                    <img style = "margin:0 auto;" src="{{logoSource}}" />
                                </ion-thumbnail>
                    </div>
            </div>
             <ion-fab top right *ngIf="isNotVisible && text == null">
                        <button (click)="closePlaylist()" ion-fab style="opacity: 0.5;">
                            <ion-icon name="close" (click)="closePlaylist()"></ion-icon>
                        </button>    
            </ion-fab>
            <h1 padding>Oblasti</h1>
            <ion-list class="accordion-list" >
                    <ion-list-header *ngFor="let playlist of textPlaylists; let i = index" [attr.id]="'title_' + i" no-lines no-padding>
                            <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': playlist.open, 'section': !playlist.open}">
                                    <ion-icon item-left name="arrow-forward" *ngIf="!playlist.open"></ion-icon>
                                    <ion-icon item-left name="arrow-down" *ngIf="playlist.open"></ion-icon>
                                      {{ playlist.name }}
                                  </button>   
                                        
                                        <ion-list *ngIf="playlist.videos && playlist.open" no-padding >
                                                <button *ngFor="let video of playlist.videos; let j = index" ion-item large item-end>
                                                        <div [attr.id]="'image_' + j" style="white-space: normal!important;" *ngIf="video != null" class="border-bottom" padding [innerHtml]="video?.quote | noSanitize">
                      
                                                        </div>
                                                        <button ion-button (click)="regularShare(j)" item-start>
                                                                <ion-icon name="share"></ion-icon>
                                                          </button>
                                                      </button>
                                                      
                                      </ion-list>
                                    </ion-list-header>
                                    <ion-list-header *ngIf="quotes" id="quotes" no-lines no-padding>
                                            <button ion-item (click)="toggleSectionQ()" detail-none [ngClass]="{'section-active': quotes?.open, 'section': !quotes?.open}">
                                                    <ion-icon item-left name="arrow-forward" *ngIf="!quotes?.open"></ion-icon>
                                                    <ion-icon item-left name="arrow-down" *ngIf="quotes?.open"></ion-icon>
                                                      Citati
                                                  </button>   
                                                        
                                                        <ion-list *ngIf="quotes && quotes.open" no-padding>
                                                                <button *ngFor="let quote of quotes.videos; let j = index" ion-item large item-end>
                                                                        <div [attr.id]="'image_' + j" style="white-space: normal!important;" *ngIf="quote != null" class="border-bottom" padding>
                                                                                <h2>{{quote.description}}:<br>"{{quote.quote}}"</h2>   
                                                                        </div>
                                                                        <button ion-button (click)="shareQ(j)" item-start>
                                                                                <ion-icon name="share"></ion-icon>
                                                                          </button>
                                                                      </button>
                                                                      
                                                      </ion-list>
                                                    </ion-list-header>
            </ion-list>

            
      </ion-content>
      
            
            
      
      