@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: ($height / $width) * 100%;
    }
    > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  $color-title: black;
  $color-subtitle: lighten($color-title, 40);
  $color-subsubtitle: lighten($color-subtitle, 20);
  $bg-color: #F9F9F9;
  $bg-color-loading: darken($bg-color, 3);

.accordion-list {
        background: #fff;
        height: 100%;
    }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 4px;
    }
    .section-active {
        background: #4c6df9;
        color: #fff;
    }
 
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }



    ion-content.content {
        .scroll-content {
            padding-top: 0 !important;
        }
    }

    .movie-header {
        height: 8em;

        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background-size: cover;
            background-position: 0 20%;
        }
    }

    .movie-content {
        flex: 1;
    }

    .movie-summary {
        overflow: visible;
        
        margin-bottom: 1em;
        padding: 0;

        align-items: flex-start;

        display: flex;
        flex-direction: row;

        .poster {
            margin-top: -4em;
            margin-right: 1em;

            @include aspect-ratio(1, 1.5);

            flex: 2;
            min-width: auto;
            min-height: auto;

            padding: 0;

            img {
                width: auto;
                height: auto;

                //box-shadow: 0 0 10px black;
                box-shadow: 0 -2px 10px #555;
                //border-radius: 2px;
            }
        }

        .item-content {
            overflow: hidden;

            flex: 3;

            display: flex;
            flex-direction: column;

            padding: 0;
        }

        .title {
            margin-bottom: .5em;

            font-size: 1em;
            font-weight: bold;

            color: $color-title;
        }

        .country {
            margin-bottom: .2em;

            font-size: .8em;

            color: $color-subtitle;
        }

        .genre {
            margin-bottom: .5em;

            font-size: .8em;

            color: $color-subsubtitle;
        }

        .ratings {
            margin-bottom: .5em;

            display: flex;
            flex-direction: row;
            
            font-size: .8em;
            
            .imdb {
                margin-right: 4px;
                padding: 4px 6px;
                border-radius: 2px;

                background-color:#FFB10A;
                color: black;

                font-weight: bold;

                .nb {
                    color: white;
                }
            }
        }

        .line {
            margin-bottom: .5em;

            display: flex;
            flex-direction: row;

            >* {
                margin: 0 .4em 0 0;
            }
        }           

        .date {
                font-size: .8em;

                color: $color-subtitle;
        }

        .time {
                font-size: .8em;
                font-weight: bold;

                color: $color-subtitle;
        }
    }
    .toolbar-title {
        text-overflow: unset;
        white-space: unset;
     }
    .movie-more {
        
        font-size: .85em;
        
        span {
            margin-bottom: .4em;
        }

        color: $color-subtitle;

        display: flex;
        flex-direction: column;

        .key {
            font-weight: bold;
        }

        .description {
            margin-top: .6em;
            text-align: justify;
        }

    }
      
      