<ion-header>
        <ion-navbar style="white-space: normal;" color="primary">
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title *ngIf="currentPlaylist == null" style="white-space: normal!important;">Rolling Text</ion-title>
          <ion-title *ngIf="currentPlaylist != null" style="white-space: normal!important;">Rolling Text - <b>{{currentPlaylist?.name}}</b></ion-title>
          <ion-buttons end>
          <button ion-button icon-only item-end (click)="presentPopover($event)">
              <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>
        </ion-navbar>
      </ion-header>
      <ion-content padding class="common-bg" style="overflow-y;" hide-fab>
            <ion-fab top left *ngIf="text != null">
                    <button (click)="closeText()" ion-fab style="opacity: 0.5;">
                        <ion-icon name="close" (click)="closeText()"></ion-icon>
                    </button>    
                </ion-fab>

             <ion-fab top right *ngIf="isNotVisible && text == null">
                        <button (click)="closePlaylist()" ion-fab style="opacity: 0.5;">
                            <ion-icon name="close" (click)="closePlaylist()"></ion-icon>
                        </button>    
            </ion-fab>

            <ion-grid *ngIf="text != null">
                
                <ion-row class="row">
                        <ion-col class="col" text-center="">
                          <div class="text-sm">
                            <div>
                                <h2 color="white" ion-text="" class="text text-md text-md-light" style="color:black; white-space: normal;">{{text?.description}}</h2>
                                <span class="line"> 
                                        <h3 class="date">{{text?.started | date:"dd.MM.yyyy."}}</h3>
                                    </span>
                            </div>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    <div *ngIf="text != null" class="border-bottom" padding [innerHtml]="text?.quote | noSanitize">
                      
                    </div>

            <hr>
            <h1>Oblasti</h1>
            <ion-list class="accordion-list" >
                    <ion-list-header *ngFor="let playlist of textPlaylists; let i = index" [attr.id]="'title_' + i" no-lines no-padding>
                            <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': playlist.open, 'section': !playlist.open}">
                                    <ion-icon item-left name="arrow-forward" *ngIf="!playlist.open"></ion-icon>
                                    <ion-icon item-left name="arrow-down" *ngIf="playlist.open"></ion-icon>
                                      {{ playlist.name }}
                                  </button>   
                                        
                                        <ion-list *ngIf="playlist.videos && playlist.open" no-padding>
                                                <button *ngFor="let video of playlist.videos; let j = index" ion-item large (click)="chooseText(video.id,playlist.id)" item-end>
                                                        <h2 style="white-space: normal!important;">{{ video.description }}</h2>  
                                                        <ion-thumbnail item-start>
                                                            <img *ngIf="video.ytId.indexOf('/res/') > -1" src="http://radiorolling.com{{video?.ytId}}"/>
                                                            <img *ngIf="video.ytId.indexOf('/res/') == -1" src="{{video?.ytId}}"/>
                                                        </ion-thumbnail>
                                                      </button>
                                            <!-- Toggle Button 
                                          <ion-card (click)="chooseText(video.id,playlist.id)">
                                                <img *ngIf="video.ytId.indexOf('/res/') > -1" src="http://radiorolling.com{{video?.ytId}}"/>
                                                <img *ngIf="video.ytId.indexOf('/res/') == -1" src="{{video?.ytId}}"/>
                                                <ion-card-content>
                                                  <ion-card-title style="white-space: normal;">
                                                        {{ video.description }}
                                                    </ion-card-title>
                                                </ion-card-content>
                                          </ion-card>-->
                                      </ion-list>
                                    </ion-list-header>
                    <!--<button *ngFor="let playlist of textPlaylists" ion-item large (click)="changePlaylist([playlist?.id])" item-end>
                        <h2>{{playlist?.name}}</h2>  
                        <ion-thumbnail item-start>
                          <img src="http://radiorolling.com{{playlist?.image}}">
                        </ion-thumbnail>
                      </button>-->
            </ion-list>


            
      </ion-content>
            
            
      
      