      <ion-header>
        <ion-navbar style="white-space: normal;" color="primary">
            <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title style="white-space: normal!important;">Rolling Papiri</ion-title>
        </ion-navbar>
      </ion-header>
      <ion-content id="cont" padding class="common-bg" style="overflow-y;" hide-fab>
            <img *ngIf="sharingSource != null" id="shareimg" style = "margin:-800 auto;" src="{{sharingSource}}"/>
            <ion-fab top right *ngIf="isNotVisible">
                <button (click)="goToTop()" ion-fab style="opacity: 0.5;">
                    <ion-icon name="arrow-up" (click)="goToTop()"></ion-icon>
                </button>    
        </ion-fab>  
        <div id="papers">
        <ion-list  *ngIf="papers!=null" no-padding >
            <button *ngFor="let paper of papers; let j = index" ion-item large item-end>
                <div [attr.id]="'image_' + j" style="white-space: normal!important;" *ngIf="paper != null" class="border-bottom" padding>
                        <img style = "margin:0 auto;" src="http://radiorolling.com{{paper.ytId}}"/>
                </div>
                <button ion-button (click)="shareQ(j)" item-start>
                        <ion-icon name="share"></ion-icon>
                  </button>
            </button>
        </ion-list>
        <div text-center>
        <ion-spinner *ngIf="isLoading" name="bubbles"></ion-spinner>
        <button *ngIf="papers!=null&&papers.length>0 && !loaded" ion-button (click)="loadMore()" item-center>
            ...
        </button>
        </div>
    </div>
      </ion-content>
      
            
            
      
      