<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Rolling</strong> Naslovna
    </ion-title>
    <ion-buttons end>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding margin-top class="animated fadeIn common-bg">
    <hr>
    <button ion-item>
    <h1 style="white-space: normal;"><b>RadioRolling</b></h1>
    <ion-thumbnail item-end>
        <img src="http://radiorolling.com/res/images/20182101446/rolllogo.png">
      </ion-thumbnail>
    </button>
    <hr>
  <ion-card *ngIf="song!=null" no-margin margin-bottom margin-top class="full-width">
      <ion-item>
        <h1>Pesma dana</h1>
        <h2>{{song?.description}}</h2>
        <button ion-button (click)="shareSong()" item-start>
            <ion-icon name="share"></ion-icon>
        </button>
        <button *ngIf="!played" ion-button (click)="changeSong()" item-end>
            <ion-icon  name="play"></ion-icon>
        </button>
      </ion-item>
      <div id="player" class="embed-responsive embed-responsive-16by9" style="height:50%;">
          <div id="placeholder" style="top:0px;left:0px;width: 100%; height:90%; overflow-y:auto" class="embed-responsive-item">
              
              <iframe *ngIf="played" scrolling="no" id="iframe12" (load)="dismissLoading()" src="http://m.radiorolling.com/" style="position: relative;left: 0px;height:80%; width: 100%; top: 0px;" frameborder="0"
              width="100%" height="100%"></iframe>
          </div>
      </div>
  </ion-card>
  <ion-card *ngIf="quote!=null" no-margin margin-bottom class="full-width">
      <ion-item>

        <h1>Citat dana</h1>
        
        <h2 style="white-space: normal;"><b>"{{quote?.quote}}"</b></h2>
        <p style="white-space: normal;">{{quote?.description}}</p>
        <button ion-button (click)="shareQ()" item-start>
            <ion-icon name="share"></ion-icon>
        </button>
      </ion-item>
  </ion-card>
  <ion-card *ngIf="sText!=null" no-margin margin-bottom class="full-width">
      <ion-item>
        <h1>Tekst dana</h1>
        <button ion-button *ngIf="text == null" (click)="openText()" item-end>
            <ion-icon name="arrow-down" (click)="openText()"></ion-icon>
        </button>
        <button ion-button *ngIf="text != null" (click)="openText()" item-end>
            <ion-icon name="arrow-up" (click)="closeText()"></ion-icon>
        </button>
      </ion-item>
        <ion-grid *ngIf="text != null">
                
            <ion-row class="row">
                    <ion-col class="col" text-center="">
                      <div class="text-sm">
                        <div>
                            <h2 color="white" ion-text="" class="text text-md text-md-light" style="color:black; white-space: normal;">{{text?.description}}</h2>
                            <span class="line"> 
                                    <h3 class="date">{{text?.started | date:"dd.MM.yyyy."}}</h3>
                                </span>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <div *ngIf="text != null" class="border-bottom" padding [innerHtml]="text?.quote | noSanitize">
                  
                </div>
      
  </ion-card>
  <div *ngIf="shareQuote != null">
      <div style="width:100%;text-align:center;" id="shareimg2" ion-item large>
                      <h1 style="padding:2px;white-space: normal!important;"><i>RadioRolling.com</i><br><b>Citati</b></h1>
                  <hr>
                  <h2 style="padding:2px;white-space: normal!important;"><b>{{shareQuoteAuthor}}</b></h2>
                  <h1 style="padding:4px;white-space: normal!important;"><b>{{shareQuote}}</b></h1>
                  <ion-thumbnail item-center center middle>
                      <img style = "margin:0 auto;" src="{{logoSource}}" />
                  </ion-thumbnail>
      </div>
</div>

</ion-content>
